@font-face {
  font-family: 'Google Sans';
  src: url("../fonts/GoogleSans-Medium.ttf") format("truetype");
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap');
