@use "mixins.scss" as mixins;

@keyframes plane-animation {
  0% {
    transform: translate(0, 0) scale(1);
  }
  90% {
    transform: rotate(-12deg) translate(60vw, 0) scale(1.8);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.header {
  position: relative;
  overflow: hidden;

  // header decoration
  background-image: url("../img/header/decore-right.svg");
  background-repeat: no-repeat;
  background-position: top right;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 475px;
    height: 495px;
    background: #D5AEE4;
    opacity: 0.3;
    filter: blur(75px);
    transform: matrix(-1, 0, 0, 1, 0, 0) translate(85%, 0%);
  }
}

// style header-top (logo, menu)
.header__top {
  padding: 3rem 20px 2rem 20px;
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.3em;
  color: #212832;
  margin-left: auto;
  margin-right: auto;
  max-width: 1290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 3.5rem;
}

.menu__list-item {
  transition: all 0.3s ease-in-out;
  &:hover {
    @include mixins.scale-and-colorize-item($scale: 1.2, $color: #000000)
  }
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

.menu__link_sign-up {
  padding: 9px 20px;
  border: 1px solid #212832;
  border-radius: 5px;
}

.language-dropdown {
  cursor: pointer;
  margin-left: 3.5rem;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.language-dropdown__title {
  display: flex;
  align-items: center;
}

.language-dropdown__input {
  appearance: none;
  position: absolute;

  &:checked {
    & ~ .language-dropdown__text .arrow {
      transform: rotate(180deg);
    }
    & ~ .language-dropdown__content {
      visibility: visible;
    }
  }
}

.language-dropdown__text {
  display: flex;
  align-items: center;
}

.language-dropdown__text-title {
  padding-right: 6px;
}

.language-dropdown__content {
  background-color: #ffffff;
  border: 1px solid #212832;
  visibility: hidden;
  position: absolute;
  left: -1em;
  margin-top: 5px;
  z-index: 4;
}

.language-dropdown__content-item {
  padding: 0.6em 1em;

  &:hover {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

// style header-content
.header__content {
  font-family: 'Poppins', sans-serif;
  padding: 0 20px 92px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1290px;
  display: flex;
  align-items: center;
}

.header__content-mobile-plane,
.header__content-mobile-plus {
  display: none;
}

.header__content-desc {
  width: 45%;
}

.header__content-tagline {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #DF6951;
  margin-bottom: 1em;
}

.header__content-head {
  font-family: 'Volkhov', serif;
  font-weight: 700;
  font-size: 5.25rem;
  line-height: 1.05em;
  letter-spacing: -0.04em;
  color: #181E4B;
  margin-bottom: 0.36em;
}

.header__content-text {
  font-size: 1rem;
  line-height: 1.875em;
  color: #5E6282;
  margin-bottom: 1.875em;
}

.header__content-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.header__content-find-more {
  text-decoration: none;
  font-family: 'Google Sans', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3em;
  color: #FFFFFF;
  background: #F1A501;
  box-shadow: 0 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  padding: 1em 1.4em;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.header__content-play-demo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5em;
  color: #686D77;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.header__content-play-demo-img {
  border-radius: 100%;
  box-shadow: 0 15px 30px rgba(223, 105, 81, 0.3);
}

.header__content-play-demo-text {
  padding-left: 1em;
}

.header__content-images {
  position: relative;
  width: 55%;
}

.header__content-main-image {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 1;
}

.header__content-plane-left,
.header__content-plane-right {
  position: absolute;
}

.header__content-plane-left {
  top: 6%;
  left: 16%;
  z-index: 2;

  &:hover {
    animation: plane-animation 3s linear forwards;
  }
}

.header__content-plane-right {
  top: 14%;
  right: -4%;
  z-index: 0;
}

// do adaptive

.toggler__checkbox {
  display: none;
  appearance: none;
  margin: 0;
  cursor: pointer;
}

.toggler__icon {
  display: none;
  position: relative;
  width: 23px;
  height: 14px;
  cursor: pointer;
  align-items: center;
  margin-left: 20px;
}

.toggler__btn,
.toggler__btn::before,
.toggler__btn::after {
  background-color: #737373;
  position: absolute;
  right: 0;
  top: 0;
  height: 2px;
  width: 23px;
  transition: all 0.3s ease-in-out;
}

.toggler__btn::before {
  content: '';
  top: 6px;
}

.toggler__btn::after {
  content: '';
  top: 12px;
}

@media (max-width: 1250px) {
  .header__content-head {
    font-size: 4rem;
  }
}

@media (max-width: 992px) {
  // delete decor elements
  .header {
    background: none;

    &::after {
      display: none;
    }
  }

  .header__top {
    background-color: #FFF1DA;
    padding: 35px;
  }

  .toggler__icon {
    display: flex;
  }

  .menu__list {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 110px;
    flex-direction: column;
    gap: 0;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1em;
    letter-spacing: 0.2px;
    color: #737373;
    background-color: #FFF1DA;
  }

  .menu__list-item {
    height: 0;
    transition: all 0.4s ease-in-out;
  }

  .menu__link {
    transition: all 0.25s ease-in-out;
    visibility: hidden;
  }

  .menu__list-item-login,
  .menu__list-item-sign-up {
    display: none;
  }

  .toggler__checkbox {
    display: block;
    &:checked {
      // change toggler style
      & ~ .toggler__icon .toggler__btn {
        &:before {
          width: 17px;
        }
        &:after {
          width: 10px;
        }
      }

      // open menu
      & ~ .menu__list {
        height: auto;

        & .menu__list-item {
          height: 2em;
          padding: 0.5em;
        }

        & .menu__list-item_destination {
          padding-top: 55px;
        }

        & .menu__list-item_booking {
          padding-bottom: 80px;
        }

        & .menu__link {
          visibility: visible;
        }
      }
    }
  }

  // style header content
  .header__content-tagline,
  .header__content-text,
  .header__content-images {
    display: none;
  }

  .header__content {
    position: relative;
    padding-bottom: 81px;

    &::before {
      content: url("../img/header/plus.svg");
      position: absolute;
      bottom: calc(92px + 15px);
      left: 65%;
      z-index: -1;
    }
  }

  .header__content-mobile-plane {
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
  }

  .header__content-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
  }

  .header__content-head {
    margin-top: 70px;
    font-size: 3rem;
    line-height: 1.8em;
  }

  .header__content-buttons {
    margin-top: 15px;
    flex-direction: column;
  }
}
