.testimonials__inner {
  max-width: 1110px;
  padding: 0 20px 150px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 124px;
}

.testimonials__content {
  max-width: 410px;
}

.testimonials__subtitle {
  margin-bottom: 0.45em;
  text-transform: uppercase;
}

.testimonials__card {
  padding-top: 34px;
}

.testimonials__card-content {
  max-width: 402px;
  padding: 28px 68px 34px 34px;
  background: #FFFFFF;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  color: #5E6282;
  position: relative;
}

.testimonials__card-img {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.testimonials__card-review {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2em;
  margin-bottom: 2em;
}

.testimonials__card-author {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5em;
  margin-bottom: 0.25em;
}

.testimonials__card-location {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5em;
}


// do adaptive
@media (max-width: 992px) {
  .testimonials__inner {
    flex-direction: column;
    align-items: center;
    gap: 81px;
    padding: 0 25px 74px;
  }

  .testimonials__subtitle {
    text-transform: none;
    text-align: center;
  }

  .testimonials__title {
    text-align: center;
  }

  .testimonials__card-content{
    padding: 30px 10px 16px 10px;
  }

  .testimonials__card-author,
  .testimonials__card-location {
    text-align: center;
  }

  .testimonials__card-img {
    left: 50%;
  }
}

